@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply !bg-[var(--ht-body-bg-)];
}

body svg {
  @apply fill-white;
}

.layout-container {
  @apply max-w-[1920px] m-auto
}

.menu-item-container {
  @apply bg-[var(--menu-item-color-)] fixed left-0 top-[50px] h-full w-[210px] z-50 pb-[90px];
}

.menu-item {
  @apply relative flex p-3 gap-4 duration-300 font-[500] text-sm text-[var(--color-menu-icon-)] hover:bg-[var(--ht-body-bg-)] hover:text-[var(--navbar-color-)] bg-white
}

.menu-item:hover svg {
  @apply fill-[var(--navbar-color-)]
}

.menu-item svg {
  @apply fill-[var(--color-menu-icon-)];
}

.menu-item span {
  @apply flex flex-1 items-center justify-between
}

.menu-item-container .active {
  @apply bg-[var(--ht-body-bg-)] text-[var(--navbar-color-)]
}

.menu-item-container .active svg {
  @apply fill-[var(--navbar-color-)]
}

/* menu toggle */
.menu-item-container_toggle {
  @apply w-11;
}

.menu-item-container_toggle .btn-menu_toggle {
  @apply w-11;
}

.menu-item-container_toggle~.container-body {
  @apply ml-11;
}

.menu-item-container_toggle ul li .menu-item span {
  @apply hidden;
}

/* menu toggle */

.center {
  @apply flex items-center justify-center
}

.room-empty {
  @apply border-[var(--room-empty-color-)] text-[var(--room-empty-color-)];
  /* Phòng trống */
}

.room-booked {
  @apply border-[--room-booked-color-] text-[--room-booked-color-];
  /* Phòng đã đặt */
}

.room-not-arrived {
  @apply border-[var(--room-not-arrived-color-)] text-[var(--room-not-arrived-color-)];
  /* Chưa đến */
}

.room-occupied {
  @apply border-[var(--room-occupied-color-)] text-[var(--room-occupied-color-)];
  /* Có khách */
}

.room-not-checked-out {
  @apply border-[var(--room-not-checked-out-color-)] text-[var(--room-not-checked-out-color-)];
  /* Chứa đi */
}

.room-dirty {
  @apply border-[var(--room-dirty-color-)] text-[var(--room-dirty-color-)];
  /* Bẩn */
}

.status-item {
  @apply flex gap-1 items-center justify-center border-[1.5px] font-[600] px-2 py-[3px] rounded-full whitespace-nowrap select-none
}

.toolbar-top-type .active {
  @apply text-[var(--navbar-color-)] bg-white;
}

.toolbar-top-room-detail .active {
  @apply text-[var(--navbar-color-)] bg-[var(--ht-body-bg-)];
}

.toolbar-top-type_item {
  @apply flex items-center justify-center p-2 px-3 min-w-[100px] whitespace-nowrap rounded-full hover:text-[var(--navbar-color-)] duration-300 select-none;
}



.popup-container {
  @apply absolute hidden w-56 bg-white shadow-lg border border-[var(--ht-neutral-100-)] z-50 rounded-lg;
}

.popup-container ul:not(:last-child) {
  @apply border-[var(--ht-neutral-100-)] border-b-[1px]
}

.popup-container ul {
  @apply list-none p-2 m-0;
}

.popup-container ul .popup-item {
  @apply p-2 flex items-center gap-2 font-[400] text-sm text-[var(--color-menu-icon-)] cursor-pointer rounded-lg hover:bg-[var(--ht-neutral-100-)] duration-100;
}

.popup-container .popup-item svg {
  @apply w-[15px] h-[15px] fill-[var(--color-menu-icon-)];
}

.btn {
  @apply block w-full border p-2 text-gray-500 border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-[var(--navbar-color-)] focus:border-[var(--navbar-color-)]
}

.sbm {
  @apply rounded-md flex gap-1 items-center justify-center py-1 px-2 border border-[var(--room-empty-color-)] hover:bg-[var(--room-empty-color-)] hover:text-white duration-75 text-sm text-[var(--room-empty-color-)] font-[500]
}

.date-time {
  @apply text-sm outline-none bg-white p-2 w-[50%] rounded border border-gray-300;
}

.bottom-line {
  @apply border-b border-stone-300 pb-4;
}

.right-line {
  @apply border-r border-stone-600 pb-4
}

.title-info {
  @apply border-b border-[var(--ht-neutral-100-)] py-2 text-base font-medium
}

.btn-tx-black {
  @apply block w-full border p-2 text-black border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-[var(--navbar-color-)] focus:border-[var(--navbar-color-)];
}

.cash-fund_content svg,
.checkout-body svg,
.room-detail-body svg {
  @apply w-[15px] h-[15px] fill-[var(--color-menu-icon-)]
}

.icon {
  @apply w-[15px] h-[15px] fill-[var(--color-menu-icon-)] mt-[2px]
}

.btn-fn {
  @apply flex items-center gap-2 border-none rounded-md py-2 px-4;
}

.checkout-detail:hover .price {
  @apply hidden;
}

.checkout-detail:hover .select {
  @apply flex;
}

.active-tab {
  @apply border-b-2 border-[var(--room-empty-color-)];
}


/* nguyên */
.btn-loaigia {
  @apply block w-full border p-2 text-black border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-[var(--navbar-color-)] focus:border-[var(--navbar-color-)];
}

.btn-soluong {
  @apply block w-full p-2 pl-8 pr-2 border border-gray-300 bg-white rounded-md shadow-sm appearance-none focus:outline-none focus:ring-[var(--navbar-color-)] focus:border-[var(--navbar-color-)];
}

.btn-nhapgiathien {
  @apply flex pl-5 py-[8px] border placeholder:text-black font-semibold border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-[var(--navbar-color-)] focus:border-[var(--navbar-color-)];
}

.checkbox-thuephi {
  @apply mr-2 leading-tight focus:outline-none text-[#279656] accent-[#279656] focus:ring-[var(--navbar-color-)] focus:border-[var(--navbar-color-)];
}

.btn-border-info {
  @apply flex w-full pl-7 py-[8px] border text-gray-500 border-gray-300 rounded-md focus:outline-none focus:ring-[var(--navbar-color-)] focus:border-[var(--navbar-color-)];
}

.btn-border-green {
  @apply focus:outline-none focus:ring-[var(--navbar-color-)] focus:border-[var(--navbar-color-)];
}

/* nguyên */